.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.pagination-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: var(--transition);
}

.pagination-item:hover,
.pagination-item.active {
  background-color: var(--primary-color);
  color: var(--light-text);
  border-color: var(--primary-color);
}
